java-lms/.gradle
java-lms/build/
django-lms/lms_env/
django-lms/django_lms/__init__.py
django-lms/django_lms/__pycache__/
django-lms/django_lms/settings.py
django-lms/lms/__init__.py
django-lms/lms/migrations/
django-lms/lms/__pycache__/
java-lms/src/main/resources/application.properties
.git-old/
